.nothing

.navbar
  .users-area
    .user
      .user-name ユーザーネーム
      = link_to "/messages", class: "edit" do
        %i.fa.fa-cog
      = link_to "/messages", class: "group-new" do
        %i.fa.fa-pencil-square-o
  .groups-area
    = render "groups"

.chat-contents
  .chat-contents__header
    .group-intro.clearfix
      .group-name グループの名前
      = link_to "Edit", "/messages", class: "edit-btn"
    .members MEMBER: メンバー名

  .chat-contents__body
    = render "messages"

  .chat-contents__footer
    .formbox
      %input.chat-text{ placeholder: "type a message"}
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
      %input.chat-submit{ type: "submit", value: "Send"}
